body {
	background-color: #FFFFFF;
	background-image: url('design/bg_loop.jpg');
	background-repeat: repeat-x;
	background-position: top;
	margin: 0px 0px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: larger;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	color: #0c2340;
	font-size: small;
	text-decoration: underline;
	margin-top: 0px;
}

h3 {
	color: #5b165f;
	font-size: medium;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

p {
	font-size: small;
}

a.navilink {
	font-size: medium;
}

a {
	font-size: small;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
	margin: 0px 0px 0px 0px;
}

form {
	display: inline;
	margin: 0px 0px 0px 0px;
}

#navigationmenu {
	margin-top: 17px;
	font-weight: bold;
}

#main {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#topbanner {
	width: 900px;
	height: 103px;
}

#topbanner img {
}

#searchbarMenu {
	width: 900px;
	height: 42px;
}

#content {
	width: 900px;
}

#sidebar {
	width: 200px;
	height: 500px;
	float: left;
}

#cat_view {
	width: 680px;
	float: right;
	padding: 20px 0px 0px 20px;
	background-image: url('design/sidebar_seperator.jpg');
	background-repeat: repeat-y;
	background-position: left;
	min-height: 400px;
}

#left_view {
	width: 304px;
	float: left;
}

#right_view {
	width: 376px;
	float: right;
}

#bottom_view {
	width: 680px;
	clear: both;
	padding: 18px 0px 0px 0px;
	text-align: center;
}

table.confitting {
	width: 680px;
	text-align: center;
	text-decoration: underline;
}

table p {
	margin: 2px 0px 2px 4px;
}

table.alu {
	width: 275px;
	margin-top: 25px;
}

tr.aluFirstRow p {
	font-weight: bold;
}

table.alu, th.alu, td.alu
{
	border: 1px solid black;
	border-collapse: collapse;
}

table.dblist, th.dblist, td.dblist
{
	width: 680px;
	margin-top: 25px;
	border: 1px solid black;
	border-collapse: collapse;
}

.extraTopMargin {
	margin-top: 20px;
}

#loginbox {
	margin-left: auto;
	margin-right: auto;
	margin-top: 240px;
	width: 250px;
	height: 200px;
	border: solid black 1px;
	background-color: white;
}

#lbox_top {
	width: 250px;
	height: 40px;
}

#lbox_bottom {
	width: 250px;
	height: 160px;
}

.bor {
	border: solid 1px black;
}

.noBor {
	border: none;
	margin: 0px 0px 0px 0px;
}

.searchfield {
	background-image: url('design/searchbar_loop.jpg');
	background-repeat: repeat-x;
	height: 29px;
	width: 200px;
	padding-top: 6px;
	padding-bottom: 7px;
	border: none;
	margin: 0px 0px 0px 0px;
}

#sfieldleft {
	background-image: url('design/searchbar_left.jpg');
	background-repeat: no-repeat;
	background-position: left;
	height: 42px;
	width: 200px;
	padding-left: 11px;
}

#sfieldright {
	background-image: url('design/searchbar_right.jpg');
	background-repeat: no-repeat;
	background-position: right;
	height: 42px;
	width: 211px;
	padding-right: 11px;
}
#sfield {
	height: 42px;
	float: left;
}

#logoutfield {
	height: 42px;
	float: right;
}

.loginbg {
	background-image: url('design/bg_login.png');
	background-repeat: repeat;
}

.logud {
	margin: 5px 0px 5px 0px;
}

.multiboxes {
	height: 160px;
	width: 260px;
}
